@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,700;1,6..12,700&display=swap");
@import url("bootstrap.min.css");

.nunito-sans-light {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

html,
body {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  line-height: inherit;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row;
  justify-content: center;
  overflow-x: hidden;
  background-color: #031521;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#player {
  padding-bottom: 2.5rem; /* Footer height */
}
.cover-site {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

#bgCover {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../img/cover.png");
  background-color: #031521;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: fixed;
  transition: all 0.5s linear;
  /* transform: scale(2.2); */

  z-index: 1;
}

.bg-mask {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.web-player {
  height: 100%;
  color: #fff;
  padding: 5px;
  position: relative;
  z-index: 3;
  margin-top: 25px;
}

#currentCoverArt {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;

  transition: background-image 1s;
}

.logo {
  display: none;
}

.info-current-song {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.current-song {
  font-size: 1.4em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 200;
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}

.current-artist {
  font-size: 1.2em;
  font-weight: 700;
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}

.current-song,
.current-artist {
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.play-pause #playerButton {
  font-size: 2.5em;
  color: white;
}
.play-pause #timerButton {
  font-size: 1em;
  color: white;
}
.play-pause #timerDisplay {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.636);
}
/* Ícon play */
.fa-circle-play,
.fa-timer {
  color: white;
}

/* Ícon pause */
.fa-circle-pause {
  color: white;
}

.close {
  color: white;
}

.slider {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Remove default styling */
  width: 100%; /* Full width */
  height: 3px; /* Height of the track */
  background: #3b3b3b; /* Track color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Transparency */
  transition: opacity 0.2s; /* Transition effect */
}

.slider:hover {
  opacity: 1; /* Full opacity on hover */
}

/* Slider Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Remove default styling */
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: #ffffff; /* Thumb color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Round thumb */
}

.slider::-moz-range-thumb {
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: #ffffff; /* Thumb color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Round thumb */
}

.slider::-moz-range-track {
  background: rgba(107, 107, 107, 0.3);
  accent-color: rgba(0, 0, 0, 0.6);
  height: 0.05rem;
  outline: none;
  border-radius: 3px;
  border: none;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff !important;
  border-radius: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2rem; /* Footer height */
  text-align: center;
  width: auto;
}
.copyright {
  font-size: 0.5em;
  color: #ffffff83;
  /* margin-top: 0.3em; */
}
.modal-content .btn {
  border-radius: 20px;
  background-color: #00e1e7;
}

.info-current-song {
  margin-top: 1em;
}

.playlist-part.current-title,
.playlist-part.historic-title {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.playlist-part.toplay-title {
  border-bottom: 1px solid #fff;
}

.historic,
.toplay {
  color: #e4e4e4;
  font-size: 0.75em;
  font-weight: 200;
  margin: 0.1em 0;
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}

.toplay {
  margin-top: 2em;
  margin-bottom: 2em;
  opacity: 0.6;
}
.historic {
  opacity: 0.5;
}

.historic article,
.toplay article {
  margin: 0.1em 0;
  background-color: none;
}

.historic .music-info,
.toplay .music-info {
  color: white;
  font-weight: 200;
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}

.historic .music-info .song,
.toplay .music-info .song {
  margin-bottom: 0.2rem;
  text-align: center;
  width: 100%;
  font-weight: 200;
  /* font-size: 0.8em; */
  color: white;
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}

#toplaySong .text-size-0 {
  font-size: 0.8em;
  opacity: 0.4;
}
#toplaySong .text-size-1 {
  font-size: 0.9em;
  opacity: 0.5;
}
#toplaySong .text-size-2 {
  font-size: 1em;
  opacity: 0.6;
}
#toplaySong .text-size-3 {
  font-size: 1.1em;
  opacity: 0.8;
}
#toplaySong .text-size-4 {
  font-size: 1.2em;
  opacity: 1;
}

#historicSong .text-size-0 {
  font-size: 1em;
  opacity: 0.7;
}
#historicSong .text-size-1 {
  font-size: 0.9em;
  opacity: 0.5;
}
#historicSong .text-size-2 {
  font-size: 0.8em;
  opacity: 0.3;
}

@media (max-width: 370px) {
  .cover-album {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .web-player {
    height: auto;
    margin-top: 4em;
  }
  .play-pause #playerButton {
    font-size: 4em;
    color: white;
  }
}

@media (min-width: 768px) {
  body {
    align-items: center;
  }

  .h1-logo {
    text-align: center;
  }

  .logo {
    display: block;
    z-index: 2;
  }

  .logo img {
    max-width: 200px;
  }

  .web-player {
    height: auto;
    margin-top: 2em;
  }

  .cover-album {
    margin: 10px auto;
    min-width: 320px;
    height: 320px;
  }

  .logo img {
    max-width: 300px;
    margin: 65px 0;
  }

  .info-current-song {
    margin-top: 20px;
    text-align: left;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Ajuste o tempo conforme necessário */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in; /* Ajuste o tempo conforme necessário */
}
